body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #21315a;
    width: 100%;

    display: grid;
    align-items: end;
    justify-items: center;
}

header img {
    width: 715px;
    margin: auto;
}

header h1 {
    color: #94ce5a;
    font-size: 64px;
    font-family: "Roboto", sans-serif;

    padding-bottom: 20px;
}

article {
    background-color: #21315a;
    padding: 15px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #94ce5a;
    padding-bottom: 10px;
    text-align: center;
}

p {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 20px;

    max-width: 960px;
    margin: auto;
    align-items: center;
}

section {
    padding: 20px;
}

.section1 {
    background-color: #242830;
}

.section2 {
    background-color: #f5f7f8;
}

.section3 {
    background-color: black;
}

@media (max-width: 750px) {
    body {
        min-width: 400px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .container > img {
        order: 1;
    }

    header img {
        width: 100%;
    }

    header h1 {
        font-size: 40px;

        padding: 10px;
        padding-bottom: 8px;
    }
}
